# Configuración de PostgreSQL
DB_NAME=practica_db_ejemplo
DB_USER=usuario_ejemplo
DB_PASSWORD=password_segura_ejemplo

APP_ADMIN_PASSWORD=contraseña_ejemplo_para_usuario

# Credenciales de Gmail para Python (RabbitMQ Worker)
EMAIL_SENDER=correo_ejemplo@gmail.com
EMAIL_PASSWORD=contrasena_aplicacion_16_caracteres

GEMINI_API_KEY=calve_api_ejemplo_que_deberia_ser_secreta