# PLANTILLA DE VARIABLES DE ENTORNO (.env.example)

# Configuración de PostgreSQL (Base de datos)
# Cambia estos valores por los que vayas a usar en tu Docker/Local
DB_NAME=practica_db_ejemplo
DB_USER=usuario_ejemplo
DB_PASSWORD=password_segura_ejemplo

# URLs Internas de Docker (No cambiar si se usa docker-compose)
PYTHON_API_URL=http://api-python:5000

# (Opcional) Configuración para SonarCloud en GitHub Actions
SONAR_TOKEN=tu_token_generado_en_sonarcloud