# PLANTILLA DE VARIABLES DE ENTORNO (.env.example)

# Configuración de PostgreSQL (Base de datos)
# Cambia estos valores por los que vayas a usar en tu Docker/Local
DB_NAME=practica_db_ejemplo
DB_USER=usuario_ejemplo
DB_PASSWORD=password_segura_ejemplo

APP_ADMIN_PASSWORD=contraseña_ejemplo_para_usuario

